SELECT id, name, father_id, mother_id FROM pets WHERE name ILIKE '%Violin%' OR name ILIKE '%ไวโอลิน%' OR name ILIKE '%Jaokhun%' OR name ILIKE '%เจ้าขุน%' OR name ILIKE '%Boontum%' OR name ILIKE '%บุญทุ่ม%'; 
